<hr style="border-top: 10px groove goldenrod; margin-top: 1px; margin-bottom: 1px"></hr>

# <font color=goldenrod>Prepare Data for Classification</font>

<hr style="border-top: 10px groove goldenrod; margin-top: 1px; margin-bottom: 1px"></hr>

# Big Ideas

- Reproducibility puts the science in data science!

- 

# Objectives 

**By the end of the acquire lesson and exercises, you will be able to...**

- **:**


- **:**

<hr style="border-top: 10px groove goldenrod; margin-top: 1px; margin-bottom: 1px"></hr>

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

from darden_class_acquire import get_titanic_data, get_iris_data

<hr style="border-top: 10px groove goldenrod; margin-top: 1px; margin-bottom: 1px"></hr>

## Iris Data

___

### Use the function defined in acquire.py to load the iris data.

In [ ]:
iris = get_iris_data()
iris.head()

___

### Drop the species_id and measurement_id columns.

In [ ]:
iris = iris.drop(columns='species_id')
iris.head(2)

___

### Rename the species_name column to just species.

In [ ]:
iris = iris.rename(columns={'species_name': 'species'})
iris.head(2)

___

### Create dummy variables of the species name.

In [ ]:
species_dummies = pd.get_dummies(iris.species, drop_first=True)
species_dummies.head(3)

In [ ]:
iris = pd.concat([iris, species_dummies], axis=1)
iris.head()

___

### Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [2]:
def prep_iris(cached=True):
    '''
    This function acquires and prepares the iris data from a local csv, default.
    Passing cached=False acquires fresh data from Codeup db and writes to csv.
    Returns the iris df with dummy variables encoding species.
    '''
    df = get_iris_data(cached)
    df = df.drop(columns='species_id').rename(columns={'species_name': 'species'})
    species_dummies = pd.get_dummies(df.species, drop_first=True)
    df = pd.concat([df, species_dummies], axis=1)
    return df

In [3]:
prep_iris()

,species,sepal_length,sepal_width,petal_length,petal_width,versicolor,virginica
0,setosa,5.1,3.5,1.4,0.2,0,0
1,setosa,4.9,3.0,1.4,0.2,0,0
2,setosa,4.7,3.2,1.3,0.2,0,0
3,setosa,4.6,3.1,1.5,0.2,0,0
4,setosa,5.0,3.6,1.4,0.2,0,0
...,...,...,...,...,...,...,...
145,virginica,6.7,3.0,5.2,2.3,0,1
146,virginica,6.3,2.5,5.0,1.9,0,1
147,virginica,6.5,3.0,5.2,2.0,0,1
148,virginica,6.2,3.4,5.4,2.3,0,1
149,virginica,5.9,3.0,5.1,1.8,0,1